/* global */

@media (min-width: 967px) {
    div#visual-portal-wrapper {
        max-width: 1170px;
        margin: 0px auto;
        box-shadow: 0px 10px 100px #ccc;
        margin-bottom: 2em;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 200px;
    }

    div#portal-footer-wrapper {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 200px;
    }
}

.LSBox button {
    display: none;
}

.portlet-date {
    float: right;
    margin-bottom: 20px;
    color: #999;
    width: 100%;
    text-align: right;
}

/* --- */


/* slimbar */
body #slimbar {
    font-size: 80%;
    line-height: normal;
    margin-left: -20px;
    margin-right: -20px;
}

#slimbar .slimnavbar {
    *position: relative;
    *z-index: 2;
    overflow: visible;
    color: #FFF;
}
#slimbar .slimnavbar-inner {
    padding: 2px 20px 0;
    top: 3px;
    margin: 0;
    background-color: #329FD7;
    border-top: 1px solid #6992CE;
    overflow: visible;
    position: relative;
}

#slimbar .slimnavbar .slimcontainer {
    width: auto;
}

#slimbar dt, #slimbar dl {
    line-height: normal;
}

#slimbar dl {
    margin-bottom: 0;
}
/* --- */

/* flag */
.flag-repeat {
    background-image: url('ribbon-repeat.png');
    background-repeat: repeat-x;
    position:absolute;
    top: -8px;
    left: -20px;
    height: 20px;
    width: 100%;
    z-index: -1;
}

.flag-ribbon {
    background-image: url('ribbon-thin.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 910px;
    height: 40px;
    top: -10px;
    right: -20px;
    z-index: -1;
}
@media (max-width: 967px) {
    #portal-header {
        background-position:0 94px;
}

.flag-repeat {
}

.flag-ribbon {
}
}
/* --- */

/* homepage */

#about-plone {
    height: 357px;
    line-height: normal;
    background: url("frontpage-image.png") no-repeat scroll 0 165px #9CB819;
    color: #383D3F;
    font-size: 110%;
    margin-bottom: 1em;
    padding: 1em 1.5em 2em;
    display: block;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

#about-plone a {
    float: right;
    padding-right: 16px;
    background: url("arrow.gif") no-repeat scroll right 8px transparent;
    font-size: 1.6em;
    border: 0 !important;
    margin-top: 14%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#about-plone h1 {
    font-size: 24px;
    line-height: normal;
    color: white;
}
#about-plone h3 {
    font-size: 18px;
    line-height: normal;

}
#about-plone p {
    color: white;
    line-height: normal;
}

#home-carousel {
    height: 357px;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    /* background: #329FD7;*/
}

#home-carousel div.carousel-text {
    display: none;
}

#home-carousel .carousel-banners {
    margin: 0 auto;
}

.homepage-links .portletItem dt {
    background: inherit;
    padding: 0;
}

.homepage-links .portletItem dt a,
.homepage-links .portletItem dt a:link {
    color: #205c90;
}

.homepage-links .portletItem dt a:visited {
    color: #427597;
}

.homepage-links .portletItem dd {
    margin-bottom: 20px;
}

/* --- */


/* footer */
footer {
    color: #fff;
    line-height: normal;
}
footer a {
    color: #fff;
}
footer li a {
    display: block;
}
footer li:hover, footer li:hover a{
    color: #329fd7;
    text-decoration: none;
    background: #fff;
}
footer p {
    margin: 0;
    font-size: 0.9em;
}
footer li.list-header{
    font-weight: bold;
}
#portal-footer-wrapper {
    background: #329fd7;
}
#footer-logo {
    float: left;
    background-image: url('sprite-ploneorg.png');
    background-position: 0 -376px;
    width: 114px;
    height: 44px;
    border-right: 1px solid white;
    margin: 0 1em 0 0.5em;
}
#footer-gradient {
    background: top left url('sprite-ploneorg.png') repeat-x;
    height: 7px;
}
footer ul {
    margin: 0;
    font-size: 90%;
}

/* full width footer at small resolutions */
@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
}
footer ul {
    text-align: center;
}
}
/* --- */

/* portlets */

.descopera-heading {
    padding: 1em 1.5em 2em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background-color: #9cb819;
}

.descopera-stanga ul li a {
    background: url("blue-arrow.gif") no-repeat scroll left 2px;
    padding-left: 18px;
}

.descopera-dreapta .descopera-download {
    background: url("download-plone.png") no-repeat scroll center top white;
    clear: both;
    color: white !important;
    display: block;
    font-size: 128%;
    height: 43px;
    line-height: 40px;
    margin: 27px 0 0;
    padding: 1px 10px 0 46px;
    border: 0 !important;
    width: 225px;
}

.descopera-dreapta .descopera-download:hover {
    background: url("download-plone.png") no-repeat scroll center -44px white;
    text-shadow: 2px 2px 0.2em #CCCCCC;
    color: white !important;
}
/* --- */

/* portlets */

dl.portlet .portletItem dt {
    background: inherit;
    padding: inherit;
    line-height: inherit;
}

dl.portlet .portletItem dt a,
dl.portlet .portletItem dt a:link {
    color: #205c90;
}

dl.portlet .portletItem dt a:visited {
    color: #427597;
}

dl.portlet .portletItem dd {
    margin-bottom: 20px;
}

dl.portlet .portletItem > a,
dl.portlet .portletItem > a:visited,
dl.portlet .portletItem > a:link {
    border-bottom: none;
    font-weight: bold;
}

dl.portlet .portletItem > a span {
    color: #333;
    font-weight: normal;
}

dl.portlet .portletItem > a:hover {
    text-decoration: none;
}

dl.portlet .portletFooter a {
    text-decoration: none;
    border-bottom: none;
}
/* --- */
